.nextButton{
    font-size: 60px;
    border-radius: 50px;
    background-color: #7FD16A;
    font-family: 'Wendy One', sans-serif;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.align1 {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
  }
.bothPlayers{
    height: 60px;
    width: 290px;
    font-family: "Wendy One", sans-serif;
    font-size: 30px;
    border-radius: 15px;
    border: none;
    margin: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #playerOne {
    background-color: #0197f6;
  }
  #playerTwo {
    background-color: #f55757;
    margin-bottom: 50px;
  }

  
.challenge{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFC957;
  height: 220px;
  border-radius: 25px;
  font-family: 'Wendy One', sans-serif;
  font-size: 30px;
  margin: 0px 30px;
  margin-bottom: 30px;
  padding: 25px;
}