
.exitButton{
    align-items: right;
    border-radius: 50px;
    background-color: #F55757;
    font-size: 50px;
    width: 75px;
    height: 75px;
}

.alignRules{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rulesDiv{
    background-color: #FFC957;
    width: 310px;
    height: 600px;
    border-radius: 25px;
    text-align: left;
    font-size: 18px;
    line-height: 1.5em;
    padding-right:1em;
    padding-bottom: 1em;
}

.rulesInnerDiv{
    overflow-y: auto;
    height: 570px;
    background-color: #f2c054;
    border-radius: 20px;
    margin-left:20px;
    padding-right:1em;
    padding-top: 5px;
    padding-bottom: 5px;
}