.rulesDiv {
    background-color: #FFC957;
    width: 320px;
    height: 500px;
    border-radius: 25px;
    font-family: 'Wendy One', sans-serif;
    text-align: center;
    align-items: center;
    margin: auto;


}

.alignRight {
    display: flex;
    justify-content: right;
    
}

.align {
    text-align: center;
    display: flex;
    flex-direction: column;


}

.exitButton {
    border-radius: 50px;
    background-color: #F55757;
    font-size: 50px;
    width: 75px;
    height: 75px;
    border: 2px solid #02182B;
    
}

.exitButton:active {
    background-color: #dc4e4e;
}