.align_menu_help {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.helpButton,
.menuButton {
  font-family: 'Wendy One', sans-serif;
  border-radius: 50px;
  background-color: #ffc957;
  font-size: 50px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 60px;
  height: 60px;
  border: 2px solid #02182b;
  margin-left: 10px;
  margin-top: 10px; 
  margin-right: 10px;
}
.helpButton:active,
.menuButton:active {
  background-color: #cca045;
}

.align {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  align-items: center;
}

.bothPlayers{
  height: 60px;
  width: 290px;
  font-family: "Wendy One", sans-serif;
  font-size: 30px;
  border-radius: 15px;
  border: none;
  margin: 0px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

#playerOneClickable{
  background-color: #0197f6;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.playerOneClickable:active {
  background-color: #0187dd;
}


#playerTwoClickable{
  background-color: #f55757;
  margin-bottom: 50px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.playerTwoClickable:active {
  background-color: #dc4e4e;
}
#alignBottomText {
  display: flex;
}

#alignBottomText h3 {
  margin-left: 92px;
  white-space: nowrap; /* Prevent the text from wrapping to the next line */
}

.challenge{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFC957;
  height: 220px;
  border-radius: 25px;
  font-family: 'Wendy One', sans-serif;
  font-size: 30px;
  margin: 0px 30px;
  margin-bottom: 30px;
  padding: 25px;
}
