.helpButton,.menuButton{ 
    border-radius: 50px;
    background-color: #FFC957;
    font-size: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 75px;
    height: 75px;
    border: 2px solid #02182B;
}

.helpButton:active,.menuButton:active {
    background-color: #cca045;
}
.playerText{
    font-family: 'Wendy One', sans-serif;
    font-size: 35px;
}
.player1Button{
    border-radius: 15px;
    background-color: #0197F6;
    height: 60px;
    font-family: 'Wendy One', sans-serif;
    font-size: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
    width: 400px;

}
.player1Button:active {
    background-color: #0187dd;
}

.player2Button{
    border-radius: 15px;
    background-color: #F55757;
    height: 60px;
    font-family: 'Wendy One', sans-serif;
    font-size: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
    width: 400px;
}
.player2Button:active {
    background-color: #dc4e4e;
  }

.align_menu_help{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.align{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    
}
